<p-dialog
  (onHide)="hiddenModal()"
  [(visible)]="modal"
  [header]="action"
  [modal]="true"
>
  <ng-template pTemplate="content">
    <span class="field">
      <label for="name">Nome</label>
      <input
        [(ngModel)]="romaneio.name"
        autofocus
        id="name"
        pInputText
        required
        type="text"
      />
      <small
        *ngIf="(submitted || romaneio.id !== undefined) && !romaneio.name"
        class="invalid"
      >
        É obrigatório.
      </small>
    </span>
    <div class="field">
      <label>Status</label>
      <p-dropdown
        [(ngModel)]="romaneio.status"
        [disabled]="true"
        [options]="types"
        emptyMessage="Não há tipos cadastrados"
        placeholder="Selecione um Tipo"
      >
      </p-dropdown>
    </div>
    <span class="field">
      <label for="name">Observações</label>
      <textarea
        [(ngModel)]="romaneio.comments"
        [autoResize]="true"
        autofocus
        cols="30"
        id="comments"
        pInputTextarea
        rows="5"
      ></textarea>
    </span>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      (click)="hiddenModal()"
      class="p-button-text"
      icon="pi pi-times"
      label="Cancelar"
      pButton
      pRipple
    ></button>
    <button
      (click)="submitRomaneio()"
      [disabled]="!isValid()"
      icon="pi pi-check"
      label="Salvar"
      pButton
      pRipple
    ></button>
  </ng-template>
</p-dialog>
