<div class="setup-info">
  <h1>Usuários</h1>
  <h3>Gerenciar usuários da aplicação</h3>
</div>
<div class="card">
  <romaneio-users-management></romaneio-users-management>
</div>

<div class="setup-info">
  <h1>Unidades de Medidas</h1>
  <h3>Gerenciar unidades de medida da aplicação</h3>
</div>
<div class="card">
  <romaneio-primitive-type-management></romaneio-primitive-type-management>
</div>
<p-confirmDialog
  [blockScroll]="true"
  [closeOnEscape]="true"
  [style]="{ width: '450px' }"
  acceptLabel="Sim"
  rejectButtonStyleClass="p-button-secondary p-button-text"
  rejectLabel="Cancelar"
></p-confirmDialog>
