@import '../../../assets/styles/variables';

:host ::ng-deep {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  height: 100%;
  gap: 1rem;

  background: $surface-ground;

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    > h1 {
      color: $gray-900;
      font-size: 1.5rem;
    }
  }

  .card {
    padding: 1rem;

    background: $surface-card;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
      0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);

    border-radius: $border-radius;

    .p-tabview {
      .p-tabview-panel {
        > div {
          display: flex;
          justify-content: space-between;
          margin-bottom: 1rem;

          > h3 {
            color: $text-color;
            font-size: 1rem;
            margin: 1rem;
          }

          > button {
            margin-right: 1rem;
          }

          .p-button {
            color: #fff;
            background: $success-color;
            border-color: $success-color;
          }
        }

        .romaneio-report {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin-bottom: 1rem;

          > h3 {
            color: $text-color;
            font-size: 1.25rem;
            margin-left: 0;
            margin-bottom: 0;
          }

          .romaneio-info {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;

            > p {
              display: flex;
              gap: 0.25rem;

              > span {
                font-weight: 700;
              }

              color: $text-color-secondary;
            }
          }

          .romaneio-comments {
            display: block;

            > span {
              display: flex;
              width: 100%;
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    .info {
      > h1 {
        font-size: 2.5rem;
      }

      > h3 {
        font-size: 1.25rem;
      }
    }
    .card {
      max-height: 690px;
    }
  }
}
