<div class="info">
  <h1>Clientes</h1>

  <div>
    <h3>Gerenciar Clientes</h3>
    <button
      (click)="openModal()"
      [disabled]="isDisabled()"
      class="p-button-success"
      icon="pi pi-fw pi-plus"
      label="Novo Cliente"
      pButton
      pRipple
    ></button>
  </div>
</div>
<div class="card">
  <p-table
    #table
    (onLazyLoad)="onChange($event)"
    [filterDelay]="0"
    [globalFilterFields]="[
      'id',
      'name',
      'district',
      'clientType',
      'createdDate',
      'lastUpdate',
      'comments'
    ]"
    [lazy]="true"
    [loading]="isLoading"
    [paginator]="qtdRegistros > 0"
    [rowHover]="true"
    [rowsPerPageOptions]="[6, 10, 20]"
    [rows]="6"
    [scrollable]="true"
    [showCurrentPageReport]="true"
    [totalRecords]="qtdRegistros"
    [value]="clients"
    currentPageReportTemplate="Mostrando de {first} até {last} de {totalRecords} clientes"
    dataKey="id"
    scrollHeight="flex"
  >
    <ng-template pTemplate="colgroup">
      <colgroup>
        <col style="width: 7.5rem" />
        <col />
        <col />
        <col />
        <col style="width: 12rem" />
        <col style="width: 12.5rem" />
        <col />
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">
          código
          <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="name">
          Nome
          <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="district">
          Bairro
          <p-sortIcon field="district"></p-sortIcon>
        </th>
        <th pSortableColumn="clientType">
          Tipo
          <p-sortIcon field="clientType"></p-sortIcon>
        </th>
        <th pSortableColumn="createdDate">
          Data de Criação
          <p-sortIcon field="createdDate"></p-sortIcon>
        </th>
        <th pSortableColumn="lastUpdate">
          última Atualização
          <p-sortIcon field="lastUpdate"></p-sortIcon>
        </th>
        <th pSortableColumn="comments">
          Comentários
          <p-sortIcon field="comments"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template let-client pTemplate="body">
      <tr>
        <td>{{ client.id }}</td>
        <td>{{ client.name }}</td>
        <td>{{ client.district }}</td>
        <td>
          <romaneio-function-label
            [label]="client.clientType"
          ></romaneio-function-label>
        </td>
        <td>{{ getDate(client.createdDate) }}</td>
        <td>{{ getDate(client.lastUpdate) }}</td>
        <td>{{ client.comments }}</td>
        <td>
          <div class="flex gap-3">
            <button
              (click)="openEditModal(client)"
              [disabled]="isDisabled()"
              class="p-button-rounded p-button-warning"
              icon="pi pi-pencil"
              pButton
              pRipple
            ></button>

            <button
              (click)="deleteClient(client.id)"
              [disabled]="isDisabled()"
              class="p-button-rounded p-button-danger"
              icon="pi pi-trash"
              pButton
              pRipple
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        No total há {{ qtdRegistros }} clientes.
      </div>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">Não há clientes cadastrados.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<romaneio-new-client
  (closeModal)="closeEditModal()"
  (sendClient)="verifySubmit($event)"
  [action]="actionLabel"
  [client]="client"
  [modal]="modal"
></romaneio-new-client>
<p-confirmDialog
  [blockScroll]="true"
  [closeOnEscape]="true"
  [style]="{ width: '450px' }"
  acceptLabel="Sim"
  rejectButtonStyleClass="p-button-secondary p-button-text"
  rejectLabel="Cancelar"
></p-confirmDialog>
