<div class="card">
  <div class="span">
    <p class="icon pi pi-fw pi-exclamation-triangle"></p>
    <p class="text">403</p>
  </div>
  <h1>Acesso não autorizado!</h1>
  <h3>Você não tem permissão para acessar esse recurso.</h3>
  <div class="button">
    <button
      class="p-button-secondary p-button-text"
      icon="pi pi-fw pi-chevron-left"
      label="Voltar"
      pButton
      pRipple
      romaneioBack
      type="button"
    ></button>
    <button
      icon="pi pi-fw pi-home"
      label="Página Inicial"
      pButton
      pRipple
      routerLink="/"
      type="button"
    ></button>
  </div>
</div>
