:host ::ng-deep {
  display: flex;
  flex-direction: column;
  height: 100%;

  .content {
    flex: 1 1 auto;
    overflow-y: auto;
  }

  .loading-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(#000, 0.5);
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;

    .p-progressbar {
      width: 45vw;
      height: 10px;
    }
  }
}
