.label-status {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;

  width: min-content;
  height: 2rem;

  border: 1px solid #353232;
  box-sizing: border-box;
  border-radius: 4px;

  /* texto padrão-regular */
  font-family: Roboto, -apple-system, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 0.875rem;
  letter-spacing: 0.0125em;
  color: #353232;
}

.inativo,
.não {
  border: 1px solid #ff6259;

  color: #ff6259;
}

.ativo,
.sim {
  border: 1px solid #0e8174;

  color: #0e8174;
}

.administrador {
  border: 1px solid #ff6259;

  color: #ff6259;
}

.gerente {
  border: 1px solid #0e8174;

  color: #0e8174;
}

.conferente {
  border: 1px solid #326fd1;

  color: #326fd1;
}

.caixa {
  border: 1px solid #a855f7;

  color: #a855f7;
}
