<div class="card">
  <div class="span">
    <p class="icon pi pi-fw pi-exclamation-triangle"></p>
    <p class="text">404</p>
  </div>
  <h1>Página não encontrada</h1>
  <h3>Desculpe, não podemos encontrar a página.</h3>
  <div class="button">
    <button
      class="p-button-secondary p-button-text"
      icon="pi pi-fw pi-chevron-left"
      label="Voltar"
      pButton
      pRipple
      romaneioBack
      type="button"
    ></button>
    <button
      icon="pi pi-fw pi-home"
      label="Página Inicial"
      pButton
      pRipple
      routerLink="/"
      type="button"
    ></button>
  </div>
</div>
